<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="nav-brand"  href=""><img src="https://static.vecteezy.com/system/resources/thumbnails/009/632/296/small/sam-letter-logo-design-with-polygon-shape-sam-polygon-and-cube-shape-logo-design-sam-hexagon-logo-template-white-and-black-colors-sam-monogram-business-and-real-estate-logo-vector.jpg" width="50" height=" 50" alt=""></a>
            <ul class="nav-list">
                <li class="nav-item"><a class="nav-link" href="">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="">About</a></li>
                <li class="nav-item"><a class="nav-link" href="">Contact us</a></li>
                <li class="nav-item"><a class="nav-link" href="">Gallery</a</li>
                 </ul>
                
        </nav>
    </header>
    
</body>
<main>
    <div class="banner-container">
        <div class="banner">
            <img class="banner-img" src="https://images.unsplash.com/photo-1614850715649-1d0106293bd1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" alt="">
        </div>

    </div>
</main>
</html>